.pizza{
    padding: 3px;
    background-color: cadetblue;
    max-height: 100px;
    max-width: 400px;
    margin-bottom: 4px;
    border-radius: 5px;
}
.d1{
    font-size: x-small;
    max-width: 300px;
    text-align: start;
    position:absolute;
}


div{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}
.pizzaimg{
    margin: 2% 0% 2% 72%;
   
    height: 70px;
    width: 75px;
   
    

}
.bbutton{
   background-color: red;
   border-radius: 5px;
   border-color: darkred;
}